{% extends 'base.html' %}

{% block body %}
<div class="container" style="background-image: url('https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?w=1060&t=st=1689603551~exp=1689604151~hmac=5cd29e060122022d7ef41b1c8b39da7dd57be3571ea4b82055566a62218099d0'); background-size: cover; background-repeat: no-repeat; min-height: 100vh; display: flex; align-items: center;">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ cinema.img.url }}" width="100" height="300">
        </div>
        <div class="col-md-6">
            <h6>{{ cinema.name }}</h6>
            <h6>{{ cinema.desc }}</h6>
            <h4>{{ cinema.year }}</h4>
            <a class="btn btn-warning" href="{% url 'cinemaapp:update' cinema.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'cinemaapp:delete' cinema.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
